{% extends 'base.html' %}
{% load static %}

{% block content %}

<form method="post" action="">
  {% csrf_token %}
  <div class="container col-sm-5 p-1 my-1" style="display: flex;  flex-direction: row;  justify-content: center;">
  {% for field in form %}
    <div class="form-group row my-1 p-1">
      <p>
        <label style="width: 80px" for="{{ field.id_for_label }}">
        {{ field.label }}
        {% if field.field.required %}
          <span class="required text-danger">*</span>
        {% endif %}
        </label>

        {{ field }}

        {% if field.help_text %}
        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
          {{ field.help_text|safe }}
        </small>
        {% endif %}
      </p>
    </div>
  {% endfor %}
  
  </div>

  <div class="container col-sm-5 p-1 my-1" style="display: flex;  flex-direction: row;  justify-content: center;">
    <button type="submit" class="btn btn-outline-secondary">
      Применить фильтр
    </button>
  </div>

</form>

<div class="container col-sm-5 p-1 my-1">
  <h4 align="center"> {{table_name}} </h4>
</div>

<div class="container col-sm-4 p-1 my-1 table-responsive">
    <table class="table table-striped table-bordered table-hover table-sm tcont countLines table_sort">
      <thead>
        <tr>
          <th>#</th>
          <th data-type="string">Player</th>
          <th data-type="number">GP</th>
          <th data-type="number">G</th>
          <th data-type="number">A</th>
          <th data-type="number">PTS</th>
          <th data-type="number">PIM</th>
        </tr>
      </thead>
      <tbody>
        {% for post in page_obj %}
        <tr>
          <td>.</td>
          <td class="first">
            <a class="text-decoration-none text-reset" href="{% url 'rating:player_detail' post.name__id %}">
              {{ post.name__name }}
            </a>
          </td>
          {% if types_stat == 'game' %}
          <td class="table-warning">{{ post.game }}</td>
          <td>{{ post.goal }}</td>
          <td>{{ post.assist }}</td>
          <td>{{ post.point }}</td>
          <td>{{ post.penalty }}</td>
          {% elif types_stat == 'goal' %}
          <td>{{ post.game }}</td>
          <td class="table-warning">{{ post.goal }}</td>
          <td>{{ post.assist }}</td>
          <td>{{ post.point }}</td>
          <td>{{ post.penalty }}</td>
          {% elif types_stat == 'assist' %}
          <td>{{ post.game }}</td>
          <td>{{ post.goal }}</td>
          <td class="table-warning">{{ post.assist }}</td>
          <td>{{ post.point }}</td>
          <td>{{ post.penalty }}</td>
          {% elif types_stat == 'point' %}
          <td>{{ post.game }}</td>
          <td>{{ post.goal }}</td>
          <td>{{ post.assist }}</td>
          <td class="table-warning">{{ post.point }}</td>
          <td>{{ post.penalty }}</td>
          {% elif types_stat == 'penalty' %}
          <td>{{ post.game }}</td>
          <td>{{ post.goal }}</td>
          <td>{{ post.assist }}</td>
          <td>{{ post.point }}</td>
          <td class="table-warning">{{ post.penalty }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  <script src="/static/css/main.js">
  </script>

</div>
{% endblock %}
