{% extends 'base.html' %}
{% load static %}
    <!-- Подключены иконки, стили и заполенены мета теги -->
{% block title %}    
{% endblock %}

{% block content %}

{% include 'includes/header_team.html' %}

{% include 'includes/submenu_team.html' %}

<div class="container col-5 p-1 my-1">
  <h2 align="center"> Career Leaders for Points </h2>
</div>

<div class="container col-4 p-1 my-1">
  <table class="table table-striped table-bordered table-hover table-sm tcont countLines table_sort">
  <thead>
    <tr>
      <th>Rank</th>
      <th data-type="string">Player</th>
      <th data-type="number">Games</th>
      <th data-type="number">Goals</th>
      <th data-type="number">Assists</th>
      <th data-type="number">Points</th>
      <th data-type="number">Penalty</th>
    </tr>
  </thead>
  <tbody>
    {% for post in page_obj %}
      {% include 'includes/all_time_all_player_one_team_inc.html' %}
    {% endfor %}
  </tbody>

  </table>


  <script src="/static/css/main.js">
  </script>

  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}
