{% extends 'base.html' %}
{% load static %}
    <!-- Подключены иконки, стили и заполенены мета теги -->
{% block title %}    
{% endblock %}

{% block content %}

{% include 'includes/header_team.html' %}

{% include 'includes/submenu_team.html' %}

<div class="container col-5 p-1 my-1">
  <h2 align="center"> Career Leaders for Points </h2>
</div>

<div class="container col-4 p-1 my-1">
  <table class="table table-striped table-bordered table-hover table-sm tcont countLines">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Games</th>
      <th>Goals</th>
      <th>Assists</th>
      <th class="table-warning">Points</th>
      <th>Penalty</th>
    </tr>
  </thead>
  <tbody>
    {% for post in page_obj %}
      {% include 'includes/all_time_all_player_one_team_inc.html' %}
    {% endfor %}
  </tbody>
  <tbody id="all" style="display: none">
    {% for post in page_obj_2 %}
      {% include 'includes/all_time_all_player_one_team_inc.html' %}
    {% endfor %}
  </tbody>
  </table>

  <button id="myBtn">Show all</button>

  <p id="demo"></p>


  <script>
    document.getElementById("myBtn").addEventListener("click", displayHidden);

    function displayHidden() {
        document.getElementById("all").style.display = "";
      }
  </script>

  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}
