{% extends 'base.html' %}

{% block content %}
<div class="container col-sm-7 py-2">
  <h3>
    Cезон: 
    <a href="{% url 'rating:create_table' season %}">
      {{ season }}
    </a>
  </h3>
  <h3> Best of {{ stat_rule }}s </h3>
    {% if season != '1946-47' %}
      <a class="btn btn-outline-secondary" href="{% url 'rating:best_of_season' previous_season 'point' %}" role="button"> Previous season </a>
    {% endif %}
    {% if season != '1990-91' %}
      <a class="btn btn-outline-secondary" href="{% url 'rating:best_of_season' next_season 'point' %}" role="button"> Next season </a>
    {% endif %}
</div>
<div class="container col-sm-7 p-1 my-1 table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm tcont countLines">
      <thead>
      <tr>
        <th>#</th>
        <th>Player</th>
        <th>Age</th>
        <th>Tm</th>
        <th>GP</th>
        <th><a href="{% url 'rating:best_of_season' season 'goal' %}"> G </a></th>
        <th><a href="{% url 'rating:best_of_season' season 'assist' %}"> A </a></th>
        <th><a href="{% url 'rating:best_of_season' season 'point' %}"> PTS </a></th>
        <th><a href="{% url 'rating:best_of_season' season 'penalty' %}"> PIM </a></th>
      </tr>
      </thead>
      <tbody>
      {% for post in page_obj %}
        {% include 'includes/best_of_year_inc.html' %}
      {% endfor %}
      </tbody>
  </table>

  <button id="myBtn">Show all</button>

  <script>
    document.getElementById("myBtn").addEventListener("click", displayHidden);

    function displayHidden() {
        document.getElementById("all").style.display = "";
      }
  </script>
  {% include 'posts/includes/paginator.html' %}
</div>
  
{% endblock %}  
