{% extends 'base.html' %}
{% load static %}
    <!-- Подключены иконки, стили и заполенены мета теги -->
{% block title %}    
{% endblock %}

{% block content %}


  {% include 'includes/header_team.html' %}

  {% include 'includes/submenu_team.html' %}

  <div class="container col-5 p-1 my-1">
    <h1 align="left"> {{ count_season }} Seasons</h1>
  </div>

  <div class="container col-5 p-1 my-1">
    <table class="table table-striped table-bordered table-hover table-sm">
      <thead>
      <tr>
        <th>Season</th>
        <th>Team</th>
        <th>GP</th>
        <th>W</th>
        <th>T</th>
        <th>L</th>
        <th>PTS</th>
        <th>PTS%</th>
        <th>Finish</th>
        <th>Coaches</th>
      </tr>
      </thead>
      <tbody>
      {% for team in team_view %}
      <tr>
        <td><a href="{% url 'rating:create_table' team.season %}">
          {{ team.season }}
      </a></td>
        <td>{{ team.name }}</td>
        <td>{{ team.games }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.ties }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.points }}</td>
        <td>{{ team.points_percentage }}</td>
        <td>{{ team.rank }}</td>
        <td></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}
