{% extends 'base.html' %}
{% load static %}

{% block description %}
  <meta name="description" content="Все сезоны {{ team }} {{ team.city }} в высшем эшелоне советского хоккея">
{% endblock %}

{% block title %}
  {{ team }} Хоккейный клуб СССР
{% endblock %}

{% block content %}

{% include 'includes/header_team.html' %}

{% include 'includes/submenu_team.html' %}

  <div class="container col-sm-6 p-1 my-1">
    <h2 align="left"> {{ count_season }} Seasons in major league 
      {% if present_in_league_one %}
        (<a href="{% url 'liga2_teams:history_team' team %}">league 1</a>)
      {% endif %}
    </h2>
  </div>

  <div class="container col-sm-6 p-1 my-1 table-responsive">

    <div>
    <table class="table table-striped table-bordered table-hover table-sm">
      <thead>
        <tr>
        <th>Season</th>
        <th>Team</th>
        <th>GP</th>
        <th>W</th>
        <th>T</th>
        <th>L</th>
        <th>PTS</th>
        <th>PTS%</th>
        <th>Finish</th>
        <th>Coaches</th>
        </tr>
      </thead>
      <tbody>
        {% for team in team_view_general %}
          <tr>
            <td>{% ifchanged team.season %}<a href="{% url 'rating:create_table' team.season.name %}">{{ team.season }}</a>{% endifchanged %}</td>
            <td>{{ team.current_name }}</td>
            {% if team.games %}
              <td>{{team.games }}</td>
              <td>{{ team.wins }}</td>
              <td>{{ team.ties }}</td>
              <td>{{ team.losses }}</td>
              <td><b>{{ team.points }}</b></td>
              <td>{{ team.points_percentage }}</td>
              <td>{{ team.rank }}</td>
              {% if not team.coach_1 %}
                <td></td>
              {% elif team.coach_2 %}
                <td title="{{ team.coach_1.name}}, {{team.coach_2.name }}, {{ team.coach_3.name}}"> Тренеры </td>
              {% else %}
                <td><a href="{% url 'rating:player_detail' team.coach_1_id %}">{{ team.coach_1.name }} </a></td>
              {% endif %}
            {% else %}
              <td colspan="4">Playoff Appearances</td>
              <td colspan="3">{{ team.result }}</td>
              <td></td>
            {% endif %}
          </tr>
          {% comment %} {% if team.round_2 %}
            {% if team.round_2.table1 %}
              <tr>
                <td></td>
                <td>{{ team.round_2.table1.current_name }}</td>
                <td>{{ team.round_2.table1.games }}</td>
                <td>{{ team.round_2.table1.wins }}</td>
                <td>{{ team.round_2.table1.ties }}</td>
                <td>{{ team.round_2.table1.losses }}</td>
                <td><b>{{ team.round_2.table1.points }}</b></td>
                <td>{{ team.round_2.table1.points_percentage }}</td>
                <td>{{ team.round_2.table1.rank }}</td>
              </tr>
            {% elif team.round_2.table2 %}
            <tr>
              <td></td>
              <td>{{ team.round_2.table2.current_name }}</td>
              <td>{{ team.round_2.table2.games }}</td>
              <td>{{ team.round_2.table2.wins }}</td>
              <td>{{ team.round_2.table2.ties }}</td>
              <td>{{ team.round_2.table2.losses }}</td>
              <td><b>{{ team.round_2.table2.points }}</b></td>
              <td>{{ team.round_2.table2.points_percentage }}</td>
              <td>{{ team.round_2.table2.rank }}</td>
            </tr>
            {% elif team.round_2.table3 %}
            <tr>
              <td></td>
              <td>{{ team.round_2.table3.current_name }}</td>
              <td>{{ team.round_2.table3.games }}</td>
              <td>{{ team.round_2.table3.wins }}</td>
              <td>{{ team.round_2.table3.ties }}</td>
              <td>{{ team.round_2.table3.losses }}</td>
              <td><b>{{ team.round_2.table3.points }}</b></td>
              <td>{{ team.round_2.table3.points_percentage }}</td>
              <td>{{ team.round_2.table3.rank }}</td>
            </tr>
            {% endif %}
          {% endif %}  {% endcomment %}
          {% comment %} {% if result_playoff %}
          <tr>
            <td></td>
            <td></td>
            <td colspan="4">Playoff Appearances</td>
            <td colspan="3">{{ team.playoff.result }}</td>
            <td></td>
          </tr>
          {% endif %} {% endcomment %}
        {% endfor %}
      </tbody>
    </table>
    </div>

  </div>

{% endblock %}
