{% extends 'base.html' %}
{% load static %}
    <!-- Подключены иконки, стили и заполенены мета теги -->
{% block title %}    
{% endblock %}

{% block content %}

  {% include 'includes/header_team.html' %}

  {% include 'includes/submenu_team.html' %}

  <div class="container col-5 p-1 my-1">
    <h2 align="center">Career Leaders</h2>
  </div>
  <div class="container-lg">
  <div class="row">
    <div class="col">
    <table class="table table-striped table-bordered table-hover table-sm tcont countLines" style="box-shadow: 0 0 0 0">
      <thead>
        <h5>
          Games Played
        </h5>
      </thead>
      <tbody>
        {% for elem in top_10_game %}
        <tr class="first_place">			
          <td class="rank">.</td>
          <td class="first"><a href="{% url 'rating:player_detail' elem.name__id %}">{{ elem.name__name }}</a></td>
          <td class="value"> {{ elem.game }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="col">
    <table class="table table-striped table-bordered table-hover table-sm tcont countLines" style="box-shadow: 0 0 0 0">
      <thead>
        <h5>
          Goals
        </h5>
      </thead>
      <tbody>
        {% for elem in top_10_goal %}
        <tr class="first_place">			
          <td class="rank">.</td>
          <td class="first"><a href="{% url 'rating:player_detail' elem.name__id %}">{{ elem.name__name }}</a></td>
          <td class="value"> {{ elem.goal }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="col">
    <table class="table table-striped table-bordered table-hover table-sm tcont countLines" style="box-shadow: 0 0 0 0">
      <thead>
        <h5>
          Assist
        </h5>
      </thead>
      <tbody>
        {% for elem in top_10_assist %}
        <tr class="first_place">			
          <td class="rank">.</td>
          <td class="first"><a href="{% url 'rating:player_detail' elem.name__id %}">{{ elem.name__name }}</a></td>
          <td class="value"> {{ elem.assist }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="col">
    <table class="table table-striped table-bordered table-hover table-sm tcont countLines" style="box-shadow: 0 0 0 0">
      <thead>
        <h5>
          Penalty
        </h5>
      </thead>
      <tbody>
        {% for elem in top_10_penalty %}
        <tr class="first_place">			
          <td class="rank">.</td>
          <td class="first"><a href="{% url 'rating:player_detail' elem.name__id %}">{{ elem.name__name }}</a></td>
          <td class="value"> {{ elem.penalty }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>

{% endblock %}
