{% extends "base.html" %}
{% load static %}

{% block description %}
  <meta name="description" content="Советский хоккеист {{ player.name }} {{ player.year_of_birth }} года рождения">
{% endblock %}

{% block title %}
  {{ player.name }} {{ player.year_of_birth }}
{% endblock title %}

{% block content %}
  <div class="container col-sm-5 py-1">
    <h1>{{ player.name }}</h1>
    <h4>Position : {{ position }}</h4>
    <h4>Born : {{ player.year_of_birth }}</h4>
    <a href="{{ player.wikip }}">
      <img src="{% static 'img/wiki.png' %}" >
    </a>
  </div>
    <div class="container col-sm-5 p-1 my-1">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Season</th>
            <th>Age</th>
            <th>Tm</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>PTS</th>
            <th>PIM</th>
          </tr>
        </thead>
        <tbody>
          {% for post in page_obj %}
          <tr>
            <td>
                <a href="{% url 'rating:create_table' post.season__name %}">
                    {{ post.season__name }}
                </a>
            </td>
            <td>{{ post.age }}</td>
            <td>
                <a href="{% url 'rating:team_players_in_season' post.team__title post.season__name %}"> 
                    {{ post.team__title }}
                </a>
            </td>
            <td>{{ post.game }}</td>
            <td>{{ post.goal }}</td>
            <td>{{ post.assist }}</td>
            <td class="table-warning">{{ post.point }}</td>
            <td>{{ post.penalty }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th>{{ count }} s</th>
          <th></th>
          <th></th>
          <th>{{ game }}</th>
          <th>{{ goal }}</th>
          <th>{{ assist }}</th>
          <th>{{ point }}</th>
          <th>{{ penalty }}</th>
        </tr>
        {% if amount_teams != 1 %}
          {% for elem in group_teams %}
          <tr>
            <td></td>
            <td></td>
            <td>
                <a href="{% url 'rating:all_time_all_player_one_team' elem.team__title %}"> 
                    {{ elem.team__title }}
                </a>
            </td>
            <td>{{ elem.game }}</td>
            <td>{{ elem.goal }}</td>
            <td>{{ elem.assist }}</td>
            <td>{{ elem.point }}</td>
            <td>{{ elem.penalty }}</td>
          </tr>
          {% endfor %}
        {% endif %}
        </tfoot>
      </table>
    </div>
  
{% endblock content %}
