{% extends "base.html" %}
{% load static %}
{% load user_filters %}

{% block description %}
  <meta name="description" content="Советский хоккеист {{ player.name }} {{ player.year_of_birth }} года рождения">
{% endblock %}

{% block title %} {{ player.name }} {{ player.year_of_birth }} {% endblock %}

{% block content %}
 
  <div class="container col-sm-5 py-1">
    <h1>{{ player.name }}</h1>
      {% if goalkeeper %}
        <h4>Position : {{ position }}</h4>
      {% endif %}
    <h4>Born : {{ player.year_of_birth }}</h4>
    <a href="{{ player.wikip }}">
      <img src="{% static 'img/wiki.png' %}" >
    </a>
  </div>
  
  {% if goalkeeper %}
    <div class="container col-sm-5 p-1 my-1">
      <h4>Player Statistic Major League</h4>
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Season</th>
            <th>Age</th>
            <th>Team</th>
            <th>Game</th>
            <th>Goal</th>
            <th>Penalty</th>
          </tr>
        </thead>
        <tbody>
          {% for post in page_obj %}
          <tr>
            <td>
                <a href="{% url 'rating:create_table' post.season__name %}">
                    {{ post.season__name }}
                </a>
            </td>
            <td>{{ post.age }}</td>
            <td>
                <a href="{% url 'rating:team_players_in_season' post.team__title post.season__name %}"> 
                    {{ post.team__title }}
                </a>
            </td>
            <td>{{ post.game }}</td>
            <td>{{ post.goal_against }}</td>
            <td>{{ post.penalty }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th>{{ count }} s</th>
          <th></th>
          <th></th>
          <th>{{ game }}</th>
          <th>{{ goal_against }}</th>
          <th>{{ penalty }}</th>
        </tr>
        {% if amount_teams != 1 %}
          {% for elem in group_teams %}
          <tr>
            <td></td>
            <td></td>
            <td>
                <a href="{% url 'rating:goalie_list_team' elem.team__title %}"> 
                    {{ elem.team__title }}
                </a>
            </td>
            <td>{{ elem.game }}</td>
            <td>{{ elem.goal_against }}</td>
            <td>{{ elem.penalty }}</td>
          </tr>
          {% endfor %}
        {% endif %}
        </tfoot>
      </table>
    </div>
  {% endif %}

  {% if exist_statistic_goalkeeper_of_league1 %}
  {% show_goalkeeper_detail_of_liga2 player.id %}
  {% endif %}

  {% if exist_coach_stat %}
  {% show_coach_stat_of_player player.id %}
  {% endif %}
  
{% endblock content %}
