{% extends "base.html" %}
{% block title %}Профайл пользователя {{ player.name }} {% endblock title %}
{% block content %}

  <div class="container col-5 py-1">
    <h1>{{ player.name }}</h1>
    <h4>Position : {{ position }}</h4>
  </div>
    <div class="container col-5 p-1 my-1">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Season</th>
            <th>Age</th>
            <th>Team</th>
            <th>Game</th>
            <th>Goal</th>
            <th>Assist</th>
            <th>Point</th>
            <th>Penalty</th>
          </tr>
        </thead>
        <tbody>
          {% for post in page_obj %}
          <tr>
            <td>
                <a href="{% url 'rating:create_table' post.season %}">
                    {{ post.season }}
                </a>
            </td>
            <td>{{ post.age }}</td>
            <td>
                <a href="{% url 'rating:team_players_in_season' post.team post.season %}"> 
                    {{ post.team }}
                </a>
            </td>
            <td>{{ post.game }}</td>
            <td>{{ post.goal }}</td>
            <td>{{ post.assist }}</td>
            <td class="table-warning">{{ post.point }}</td>
            <td>{{ post.penalty }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th>{{ count }} s</th>
          <th></th>
          <th></th>
          <th>{{ game }}</th>
          <th>{{ goal }}</th>
          <th>{{ assist }}</th>
          <th>{{ point }}</th>
          <th>{{ penalty }}</th>
        </tr>
        {% if amount_teams != 1 %}
          {% for elem in group_teams %}
          <tr>
            <td></td>
            <td></td>
            <td>
                <a href="{% url 'rating:all_time_all_player_one_team' elem.team__title %}"> 
                    {{ elem.team__title }}
                </a>
            </td>
            <td>{{ elem.game }}</td>
            <td>{{ elem.goal }}</td>
            <td>{{ elem.assist }}</td>
            <td>{{ elem.point }}</td>
            <td>{{ elem.penalty }}</td>
          </tr>
          {% endfor %}
        {% endif %}
        </tfoot>
      </table>
    </div>
  
{% endblock content %}
