{% extends 'base.html' %}

{% block title %}
  Профайл пользователя {{ player.name }}
{% endblock %}

{% block content%}



  <div class="container col-5 py-2">
    <a href="{% url 'rating:history_team' team %}"><h1>{{ team }}</h1></a>
    <h3>Cезон: {{ season }}</h3> 
    <a class="btn btn-outline-secondary" href="{% url 'rating:team_players_in_season' team previous_season %}" role="button"> Previous season </a>
    <a class="btn btn-outline-secondary" href="{% url 'rating:team_players_in_season' team next_season %}" role="button"> Next season </a>
  </div>
  
  <div class="container col-5">
    <table class="table table-striped table-bordered table-hover table-sm tcont countLines">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
        <th>Game</th>
        <th>Goal</th>
        <th>Assist</th>
        <th>Point</th>
        <th>Penalty</th>
      </tr>
      </thead>
    <tbody>
    {% for post in page_obj %}
      {% include 'includes/team_players_in_season_inc.html' %}
    {% endfor %}
    </tbody>
    </table>      
  </div>         
{% endblock %}
