<tr>
    <td>.</td>
    <td class="first"><a class="text-decoration-none text-reset" href="{% url 'rating:player_detail' post.name__id %}"> {{ post.name__name }}</a></td>
    <td>{{ post.age }}</td>
    <td>
        {% comment %} <a href="{% url 'rating:team_players_in_season' post.team post.season %}"> 
            {{ post.team }}
        </a> {% endcomment %}
        {{ post.team__slug }}
    </td>
    <td>{{ post.game }}</td>

    {% if stat_rule == 'Снайперы' %}
        <td class="table-warning">{{ post.goal }}</td>
    {% elif stat_rule != 'Снайперы' %}
        <td>{{ post.goal }}</td>
    {% endif %}

    {% if stat_rule == 'Ассистенты' %}
        <td class="table-warning">{{ post.assist }}</td>
    {% elif stat_rule != 'Ассистенты' %}
        <td>{{ post.assist }}</td>
    {% endif %}

    {% if stat_rule == 'Бомбардиры' %}
        <td class="table-warning">{{ post.point }}</td>
    {% elif stat_rule != 'Бомбардиры' %}
        <td>{{ post.point }}</td>
    {% endif %}

    {% if stat_rule == 'Штраф' %}
        <td class="table-warning">{{ post.penalty }}</td>
    {% elif stat_rule != 'Штраф' %}
        <td>{{ post.penalty }}</td>
    {% endif %}
    
</tr>
