{% load static %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'rating:index' %}">
      <i class="fa-solid fa-hockey-sticks"></i>
      <span style="color:red">H</span>OCKEY
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
        <li class="nav-item">
          {% with request.resolver_match.view_name as view_name %}
            <a class="nav-link" {% if view_name  == 'about:author' %} active {% endif %} href="">Об авторе</a>
          {% endwith %}
        </li>
        <div class="dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Teams
            </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for team in all_team %}
                <li>
                  <a class="dropdown-item" href="{% url 'rating:history_team' team=team.title %}">
                    {{ team.title }} - {{ team.city }}
                  </a>
                </li>
                {% endfor %}
              </ul>
          </li>
        </div>
        <div class="dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Leaders
            </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <p class="dropdown-item stat-menu">Goal :  
                    <a class="text-decoration-none text-reset" href ="{% url 'rating:statistic' stat_rule="goals_career" %}">Career </a>
                    <text> | </text>
                    <a class="text-decoration-none text-reset" href ="{% url 'rating:statistic' stat_rule="goals_season" %}"> Season</a>
                  </p> 
                </li>
                <li>
                  <p class="dropdown-item stat-menu">Assist : 
                    <a class="text-decoration-none text-reset" href ="{% url 'rating:statistic' stat_rule="assist_career" %}">Career</a>
                    <text> | </text>
                    <a class="text-decoration-none text-reset" href ="{% url 'rating:statistic' stat_rule="assist_season" %}">Season</a>
                  </p>   
                </li>
                <li>
                  <p class="dropdown-item stat-menu">Points : 
                    <a class="text-decoration-none text-reset" href ="{% url 'rating:index' %}">Career</a>
                    <text> | </text>
                    <a class="text-decoration-none text-reset" href ="{% url 'rating:statistic' stat_rule="point_season" %}">Season</a>
                  </p>  
                </li>
                <li>
                  <p class="dropdown-item stat-menu">Games : 
                    <a class="text-decoration-none text-reset" href ="{% url 'rating:statistic' stat_rule="games_career" %}">Career</a>
                  </p>  
                </li>
                <li>
                  <p class="dropdown-item stat-menu">Penalty : 
                    <a class="text-decoration-none text-reset" href ="{% url 'rating:statistic' stat_rule="penalty_career" %}">Career</a>
                    <text> | </text>
                    <a class="text-decoration-none text-reset" href ="{% url 'rating:statistic' stat_rule="penalty_season" %}">Season</a>
                  </p> 
                </li>
                <li>
                  <hr class="dropdown-divider"/>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
          </li>
        </div>
        <div class="dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Seasons
            </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for season in all_seasons %}
                <li>
                  <a class="dropdown-item" href="{% url 'rating:create_table' season=season.name  %}">
                    {{ season.name }}
                  </a> 
                </li>
                {% endfor %}
              </ul>
          </li>
        </div>
      </ul>
    </div>

    <div id="SearchField">
      <form class="d-flex" role="search" action="{% url 'rating:search_result' %}" methog="get">
        <input name='q' class="form-control me-2"
               type="search"
               placeholder="Search"
               aria-label="Search"/>
        <button class="btn btn-outline-success me-2" type="submit">Search</button>
      </form>
    </div>
  </nav>


