{% extends 'base.html' %}

{% block description %}
  <meta name="description" content="Чемпионат СССР по хоккею с шайбой {{ season }}">
{% endblock %}

{% block title %}
  Хоккейный сезон {{ season }}
{% endblock %}

{% block content %}
<div class="container col-sm-4 p-1 mb-1">
  <h1 align="center"> {{ season }} </h1>
  {% if season != '1946-47' %}
    <a class="btn btn-outline-secondary" href="{% url 'rating:create_table' previous_season %}" role="button"> Previous season </a>
  {% endif %}
  {% if season != '1990-91' %}
    <a class="btn btn-outline-secondary" href="{% url 'rating:create_table' next_season %}" role="button"> Next season </a>
  {% endif %}
</div>

{% if playoff %}
<div class="container col-sm-4 p-1 my-1">
  <h4>{{ description_table.description_playoff }}</h4>
  <table class="table table-striped table-bordered table-hover table-sm">
    <tbody>
      {% for elem in playoff %}
      <tr>
        <td>{{ elem.study }}</td>
        <td>{{ elem.result_serie }}</td>
        <td class="first">
            <a href="{% url 'rating:team_players_in_season' elem.team_1__title elem.season__name %}">
                {{ elem.current_name_team_1 }}
            </a>
        </td>
        <td class="first">
          <a href="{% url 'rating:team_players_in_season' elem.team_2__title elem.season__name %}">
              {{ elem.current_name_team_2 }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if teams2round %}
<div class="container col-sm-4 p-1 my-1">
  <h4>{{ description_table.description_1gr_2round }}</h4>
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Teams</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Ties</th>
        <th>Los</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams2round %}
      <tr>
        <td>{{ team.rank }}</td>
        <td class="first">
            <a href="{% url 'rating:team_players_in_season' team.name__title team.season__name %}">
              {{ team.current_name }}
            </a>
        </td>
        <td>{{ team.games }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.ties }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if teams2round2 %}
<div class="container col-sm-4 p-1 my-1">
  <h4>{{ description_table.description_2gr_2round }}</h4>
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Teams</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Ties</th>
        <th>Los</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams2round2 %}
      <tr>
        <td>{{ team.rank }}</td>
        <td class="first">
            <a href="{% url 'rating:team_players_in_season' team.name__title team.season__name %}">
              {{ team.current_name }}
            </a>
        </td>
        <td>{{ team.games }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.ties }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if teams2round3 %}
<div class="container col-sm-4 p-1 my-1">
  <h4>{{ description_table.description_3gr_2round }}</h4>
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Teams</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Ties</th>
        <th>Los</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams2round3 %}
      <tr>
        <td>{{ team.rank }}</td>
        <td class="first">
            <a href="{% url 'rating:team_players_in_season' team.name__title team.season__name %}">
              {{ team.current_name }}
            </a>
        </td>
        <td>{{ team.games }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.ties }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<div class="container col-sm-4 p-1 my-1">
  <h4>{{ description_table.description_1gr_1round }}</h4>
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Teams</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Ties</th>
        <th>Los</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      {% for team in page_obj %}
        {% include 'includes/teams_table_inc.html' %}
      {% endfor %}
    </tbody>
  </table>
</div>

{% if teams2 %}
<div class="container col-sm-4 p-1 my-1">
  <h4>{{ description_table.description_2gr_1round }}</h4>
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Teams</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Ties</th>
        <th>Los</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams2 %}
      <tr>
        <td>{{ team.rank }}</td>
        <td class="first">
            <a href="{% url 'rating:team_players_in_season' team.name__title team.season__name %}">
                {{ team.current_name }}
            </a>
        </td>
        <td>{{ team.games }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.ties }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.points }}</td>
    </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if teams3 %}
<div class="container col-sm-4 p-1 my-1">
  <h4>{{ description_table.description_3gr_1round }}</h4>
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Teams</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Ties</th>
        <th>Los</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams3 %}
      <tr>
        <td>{{ team.rank }}</td>
        <td class="first">
            <a href="{% url 'rating:team_players_in_season' team.name__title team.season__name %}">
              {{ team.current_name }}
            </a>
        </td>
        <td>{{ team.games }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.ties }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if teams4 %}
<div class="container col-sm-4 p-1 my-1">
  <h4>{{ description_table.description_4gr_1round }}</h4>
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Teams</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Ties</th>
        <th>Los</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams4 %}
      <tr>
        <td>{{ team.rank }}</td>
        <td class="first">
            <a href="{% url 'rating:team_players_in_season' team.name__title team.season__name %}">
                {{ team.current_name }}
            </a>
        </td>
        <td>{{ team.games }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.ties }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<div class="container-lg">
  <h2>
    League Leaders
  </h2>
</div>

<div class="container-lg">
  <div class="row">
    <div class="col">
    <table class="table table-striped table-bordered table-hover table-sm tcont countLines" style="box-shadow: 0 0 0 0">
      <thead>
        <h5>
          Goals
        </h5>
      </thead>
      <tbody>
        {% for elem in top_5_goal %}
        <tr class="first_place">			
          <td class="rank">.</td>
          <td class="first"><a href="{% url 'rating:player_detail' elem.name__id %}">{{ elem.name__name }}</a> • <span class="desc"> {{elem.team__slug }}</span></td>
          <td class="value"> {{ elem.goal }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'rating:best_of_season' season 'goal' %}" class="btn btn-secondary">View all players in this category</a>
    </div>
    <div class="col">
    <table class="table table-striped table-bordered table-hover table-sm tcont countLines" style="box-shadow: 0 0 0 0">
      <thead>
        <h5>
          Assist
        </h5>
      </thead>
      <tbody>
        {% for elem in top_5_assist %}
        <tr class="first_place">			
          <td class="rank">.</td>
          <td class="first"><a href="{% url 'rating:player_detail' elem.name__id %}">{{ elem.name__name }}</a> • <span class="desc"> {{elem.team__slug }}</span></td>
          <td class="value"> {{ elem.assist }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'rating:best_of_season' season 'assist' %}" class="btn btn-secondary">View all players in this category</a>
    </div>
    <div class="col">
    <table class="table table-striped table-bordered table-hover table-sm tcont countLines" style="box-shadow: 0 0 0 0">
      <thead>
        <h5>
          Points
        </h5>
      </thead>
      <tbody>
        {% for elem in top_5 %}
        <tr class="first_place">			
          <td class="rank">.</td>
          <td class="first"><a href="{% url 'rating:player_detail' elem.name__id %}">{{ elem.name__name }}</a> • <span class="desc"> {{elem.team__slug }}</span></td>
          <td class="value"> {{ elem.point }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'rating:best_of_season' season 'point' %}" class="btn btn-secondary">View all players in this category</a>
    </div>
    <div class="col">
    <table class="table table-striped table-bordered table-hover table-sm tcont countLines" style="box-shadow: 0 0 0 0">
      <thead>
        <h5>
          Penalty
        </h5>
      </thead>
      <tbody>
        {% for elem in top_5_penalty %}
        <tr class="first_place">			
          <td class="rank">.</td>
          <td class="first"><a href="{% url 'rating:player_detail' elem.name__id %}">{{ elem.name__name }}</a> • <span class="desc"> {{elem.team__slug }}</span></td>
          <td class="value"> {{ elem.penalty }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'rating:best_of_season' season 'penalty' %}" class="btn btn-secondary">View all players in this category</a>
    </div>
  </div>
</div>

{% endblock %}
